body{
  background-color: #F7F5EB;
}

.container{
  display: flex;
  justify-content: center;
}

.btn{
  padding: 15px;
  background-color: #A0C3D2;
  border: none;
  font-size: 20px;
}

.btn-click{
  background-color: #A0C3D2;
  border: none;
  font-size: 20px;
  border-radius: 5px;
  padding: 10px 15px;
  color: white;
  margin: 15px auto;
}

button:hover{
  background-color: #0081C9;
  cursor: pointer;
}

a{
  font-size: 20px;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
  color: #0081C9;
  cursor: pointer;
}
h1{
  font-size: 40px;
}

h2{
  font-size: 30px;
}

p{
  margin: 15px 40px;
  font-size: 18px;
}